body{
    background-color: #322e2d;
    text-align: center;
    color: #f6f0ee;
    margin: 0;
}

h1{
    color: #e8d4b2;
}


#logo{
   width: 7rem;;
   height: 7rem;
   object-fit: contain;
   margin-top: 2rem;
}